{% extends "base.html.j2" %} 
{% block content %}

<div class="container has-text-left">

<h1 class="title">Create a Recipe!</h1>

<form method="POST" action="/create-recipe">
    {{ form.hidden_tag() }}

    <h1>{{ form.name.label }}</h1>
    {{ form.name(size=50, placeholder='(type a short description)') }}

    <h1>{{ form.description.label }}</h1>
    {{ form.description(size=50, placeholder='(type a short description)') }}

<br>

    <h1>{{form.ingredients.label }}</h1>
    {{ form.ingredients(rows=20, cols=50, placeholder='ex:\n1 1/4 cup salt or 2.5 ml water') }}

<br>

    <h1>{{ form.directions.label }}</h1>
    {{ form.directions(rows=20, cols=50, placeholder='ex:\n1. Place food in oven and cook for 1hr \n2. eat it') }}

<br>

    <h1>{{ form.notes.label }}</h1>
    {{ form.notes(rows=10, cols=50, placeholder='ex: Don\'t over cook the beef') }}

<br>
    {{ form.save() }}
    {{ form.cancel() }}
</form>

</div>

{% endblock %}