{% extends "base.html.j2" %} 
{% block content %}

<div class="container has-text-left">

<h1 class="title">Create a Recipe!</h1>

<h2>{{ form.name.label }}</h2>
{{ form.name }}

<h3>Description</h3>
<h4>{{form.ingredients.label }}</h4>
{{ form.ingredients }}
<h5>Directions</h5>
<h6>Notes</h6>

</div>

{% endblock %}